<div class="game">
  <div class="game-header">
    <div class="game-title">
      <h1>Game Title</h1>
    </div>
    <div class="game-nav">
      <div class="nav-icon" [class.change]="isChanged" (click)="toggleNavIcon()">
        <div class="nav-icon-bar1"></div>
        <div class="nav-icon-bar2"></div>
        <div class="nav-icon-bar3"></div>
      </div>
    </div>
  </div>
  <div class="game-body">
    <div class="game-task game-body-child">
      <div class="game-instructions">
        <h2>Lese den Vers 3mal laut durch.</h2>
      </div>
      <div class="game-contents">

      </div>
    </div>
    <div class="game-control game-body-child">
    </div>
  </div>
</div>