$primary-color: #3e2622;
$secondary-color: #6b4c3b;
$success-color: #a67c52;

$title-color: #ffde58;
$text-color: #ffffff;

$textfont: 'Ruda';
$headerfont: 'Rowdies';


.game{
    height:  100%;
    background-color: $primary-color;
    color: $text-color;
    display: block;
    flex-direction: column;
}

.game-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    height: 10%;
}
.game-title {
    font-family: $headerfont;
    color: $title-color;
    text-align: center;
    width: 100%;
}

.game-nav {
    position: relative;
    width: 8vw;
    height: 8vw;
    min-width: 60px;
    min-height: 60px;
    max-width: 80px;
    max-height: 80px;
    background-color: $secondary-color;
    align-self: right;
    text-align: center;
    align-items: center;
    flex-shrink: 0;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
}

.game-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    height: 90%;
}

.game-body-child {
    flex: 1 1 50%; /* Nimmt 50% der Breite ein */
    height: 100%; /* Volle Höhe */
    box-sizing: border-box;
    padding: 10px;
}

.game-task {
    background-color: $secondary-color;
    color: $text-color;    
}
.game-control {
    background-color: $success-color;
    color: $text-color;
}

@media only screen and (max-width: 1200px) {
  .game-body {
    flex-direction: column;
  }

  .game-body-child {
    width: 100%;
    height: 50%; /* Jeweils halbe Höhe */
  }
}
